{% if settings.blog_sidebar_recent_articles %}
<div class="block recent-block">
<h3 class="block-title">{{ 'blogs.sidebar.recent_articles' | t }}</h3>
<div class="block-content">
{% for article in blogs[blog.handle].articles limit:6 %}
  <div class="item-post clearfix">
    <div class="post-img">
    	<img src="{{ article.image.src | img_url: '150x150' }}">
    </div>  
    <div class="post-info">
    	<a href="{{ article.url }}">{{ article.title | strip_html | slice: 0, 36 | append: ' ...' }}</a>    
    	<br /><time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
      	<em class="text-light">{{ article.published_at | date: format: 'month_day_year' }}</em>
    	</time>
    </div>  
  </div>
{% endfor %}
</div>  
</div>
{% endif %}
{% if blog.all_tags.size > 0 and settings.blog_sidebar_categories %}
<div class="block categories-block">
  <h3 class="block-title">{{ 'blogs.sidebar.categories' | t }}</h3>
  <div class="block-content">
  <ul>
    {% for tag in blog.all_tags %}
      {% if current_tags contains tag %}
      <li>{{ tag }}</li>
      {% else %}
      <li>{{ tag | link_to_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  </div>  
</div>  
{% endif %}
{% if settings.blog_banner_sidebar %}
	<a href="{{ settings.blog_banner_sidebar_link }}"><img class="img-responsive" src="{{ "blog-banner-sidebar.jpg" | asset_url }}" alt="Banner" /></a>
{% endif %}