<div class="section-instagram">
  	<div class="home-row row fullwidth">
      	<div class="slider-product-title">
          <h3 class="title">
              <span>{{ settings.gallery_title}}</span>
          </h3>
      	</div>
      	<div class="gallery-carousel">
          	{% for i in (1..15) %}
          		{% capture gallery_enable %}gallery_enable_{{ i }}{% endcapture %} 
          		{% capture gallery_img %}gallery_img_{{ i }}.jpg{% endcapture %}
          		{% capture gallery_title %}gallery_title_{{ i }}{% endcapture %}    
          		{% capture gallery_alt %}gallery_alt_{{ i }}{% endcapture %}    
          		{% if settings[gallery_enable] %}
          		<div class="image-item">
                  	<a class="gallery-images" data-fancybox-group="group1" href="{{ gallery_img | asset_img_url:'1200x1200' }}" title="{{settings[gallery_title]}}">
          				<img class="img-responsive" src="{{ gallery_img | asset_img_url:'300x300' }}" alt="{{settings[gallery_alt]}}" />
                  	</a>  
          		</div>  
          		{% endif %}
          	{% endfor %}
      	</div>
  	</div>  
</div>
<script type="text/javascript">
jQuery(function ($) {
    "use strict";
	var galleryCarousel = $(".gallery-carousel");	
	if (galleryCarousel.length > 0) galleryCarousel.each(function () {	
	var items = 6,
	    itemsDesktop = 6,
	    itemsDesktopSmall = 3,
	    itemsTablet = 2,
	    itemsMobile = 1;
	var rtl = false;
	if ($("body").hasClass("rtl")) rtl = true;
	$(this).owlCarousel({
	    responsiveClass:true,
		responsive:{
			1550:{
				items:items
			},
			1199:{
				items:itemsDesktop
			},
			991:{
				items:itemsDesktopSmall
			},
			767:{
				items:itemsTablet
			},
			318:{
				items:itemsMobile
			}
		},
		rtl: rtl,
		autoPlay: false,
	    nav: {{ navigation }},
		dots:  false,
	    pagination: {{ pagination }},
	    rewindNav: {{ rewind }},
	    navigationText: ["", ""],
	    scrollPerPage: false,
	    slideSpeed: 500
	})
	});
});
$(document).ready(function() {  
  	$("a.gallery-images").fancybox({
		'transitionIn'	:	'elastic',
		'transitionOut'	:	'elastic',
		'speedIn'		:	600, 
		'speedOut'		:	200, 
		'overlayShow'	:	false
	});
});
</script>