<div class="section-blog">
<div class="container">
<div class="home-row">
 <div class="slider-product-title">
<h3 class="title">
	<span>{{ settings.blog_title }}</span>
</h3>
</div> 
<div class="blog-carousel">  
{% for article in blogs.news.articles limit: settings.blog_total %}
<div class="item">  
	<div class="blog-item">
      	<div class="post-thumb">
          	<a href="{{ article.url }}"><img class="img-responsive" src="{{ article.image.src | img_url: '600x600' }}" alt="{{ article.title }}" ></a>
        </div>      
      	<div class="blog-info">
         	<h4 class="post-title"><a href="{{ article.url }}">{{ article.title }}</a></h4> 
          	<p class="blog-intro blog-intro-2">
              	{{ article.content | strip_html | truncate: 80 }}
          	</p>
          	<div class="show_readmore">
              <ul class="post-meta">
                   <li class="post-created">
                        <span class="created"><span class="icon icon-basic-clock"></span> {{ article.created_at | date: "%B %d, %Y" }}</span>
                   </li>
                   <li class="post-comments"><span class="icon icon-basic-message"></span> {{ article.comments.size }}</li>
              </ul>
              <a href="{{ article.url }}" class="blog_readmore">Read more</a>
  			</div>
      	</div>  
  	</div>
</div>  
{% endfor %}
</div>
</div>  
</div>
</div>
<script type="text/javascript">
jQuery(function ($) {
    "use strict";
	var blogCarousel = $(".blog-carousel");	
	if (blogCarousel.length > 0) blogCarousel.each(function () {	
	var items = {{ settings.blog_posts }},
	    itemsDesktop = 3,
	    itemsDesktopSmall = 2,
	    itemsTablet = 2,
	    itemsMobile = 1;
	var rtl = false;
	if ($("body").hasClass("rtl")) rtl = true;
	$(this).owlCarousel({
	    responsiveClass:true,
		responsive:{
			1550:{
				items:items
			},
			1199:{
				items:itemsDesktop
			},
			991:{
				items:itemsDesktopSmall
			},
			767:{
				items:itemsTablet
			},
			318:{
				items:itemsMobile
			}
		},
		rtl: rtl,
		autoPlay: false,
	    nav: {{ settings.blog_navigation }},
		dots:  false,
	    pagination: {{ settings.blog_pagination }},
	    rewindNav: {{ settings.blog_rewind }},
	    navigationText: ["", ""],
	    scrollPerPage: false,
     	margin: 30,
	    slideSpeed: 500
	})
	});
});
</script>