<div class="home-banner-section"><div class="home-row row fullwidth">
<div class="home-banner">
<div class="home-banner-left">
<div class="box-home-banner-left box-home-banner-left-50 box-home-banner-left-1">
<div class="wrapper-banner"><a title="Banner" href="#"> <img class="img-responsive" src="{{ "banner_img_1.jpg" | asset_url }}" alt="Banner"></a>
<div class="banner-content">
<div class="banner-box">
<div class="box-content">
<p>{{ settings.banner_heading_1 }}</p>
</div>
</div>
</div>
</div>
</div>
<div class="box-home-banner-left box-home-banner-left-50 box-home-banner-left-2">
<div class="wrapper-banner"><a title="Banner" href="#"> <img class="img-responsive" src="{{ "banner_img_2.jpg" | asset_url }}" alt="Banner"></a>
<div class="banner-content">
<div class="banner-box">
<div class="box-content">
<p>{{ settings.banner_heading_2 }}</p>
</div>
</div>
</div>
</div>
</div>
<div class="box-home-banner-left box-home-banner-left-30 box-home-banner-left-3">
<div class="wrapper-banner"><a title="Banner" href="#"> <img class="img-responsive" src="{{ "banner_img_3.jpg" | asset_url }}" alt="Banner"></a>
<div class="banner-content">
<div class="banner-box">
<div class="box-content">
<p>{{ settings.banner_heading_3 }}</p>
</div>
</div>
</div>
</div>
</div>
<div class="box-home-banner-left box-home-banner-left-30 box-home-banner-left-4">
<div class="wrapper-banner"><a title="Banner" href="#"> <img class="img-responsive" src="{{ "banner_img_4.jpg" | asset_url }}" alt="Banner"></a>
<div class="banner-content">
<div class="banner-box">
<div class="box-content">
<p>{{ settings.banner_heading_4 }}</p>
</div>
</div>
</div>
</div>
</div>
<div class="box-home-banner-left box-home-banner-left-30 box-home-banner-left-5">
<div class="wrapper-banner"><a title="Banner" href="#"> <img class="img-responsive" src="{{"banner_img_5.jpg" | asset_url }}" alt="Banner"></a>
<div class="banner-content">
<div class="banner-box">
<div class="box-content">
<p>{{ settings.banner_heading_5 }}</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="home-banner-right">
<div class="wrapper-banner"><a title="Banner" href="#"> <img class="img-responsive" src="{{ "banner_img_6.jpg" | asset_url }}" alt="Banner"></a>
<div class="banner-content">
<div class="banner-box">
<div class="box-content">
<p>{{ settings.banner_heading_6 }}</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div>