{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium-down--one-half' %}
{% endunless %}

{% unless current_collection == blank %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
<div class="product-preview {% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
  	<div class="preview">
      	 <a href="{{ product.url | within: collection }}">
         	<img src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
         </a>
      	<div class="wrapper-label">
          	{% if on_sale and settings.collections_show_sale_circle %}
            <span class="label label-sale">
              {{ 'products.product.sale' | t }}
            </span>
          	{% endif %}
      	</div>
      	{% if settings.show_color_variant %}
      		{% include 'product-colors' %}
        {% endif %}
      	<div class="products-box">      
          	{% if settings.show_quickview_button %}
          	<a title="Quick View" class="quick-view product-btn hidden-xs" data-id="{{ product.handle }}">
				<span class="icon icon-basic-link"></span>
			</a>
          	{% endif %}
          	{% if settings.show_addtowishlist_button %}
          	{% include 'wishlist-product-grid' %}
            {% endif %}
          	<a title="Add to cart" href="#" class="ajax_add_to_cart_button cart-button product-btn" data-productid="{{ product.id }}">
				<span class="icon icon-ecommerce-bag"></span>
			</a>
          	<div class="action">
              {% assign variantCount = product.variants | size %}
              <form action="/cart/add" method="post" class="variants product-actions-{{ product.id }}" enctype="multipart/form-data" style="padding:0px;">    
                {% if sold_out %}
                <input class="btn add-to-cart-btn" type="submit" value="{{ 'products.product.unavailable' | t }}" disabled="disabled" />
                {% else %}
                {% if variantCount > 1 %}
                <input class="btn" type="button" onclick="window.location.href='{{product.url}}'" value="{{ 'products.product.select_options' | t }}" />
                {% else %}
                <input type="hidden" name="id" value="{{ product.variants[0].id }}" />                      
                {% endif %}
                {% endif %}
              </form>      
            </div>
          	
      	</div>  
  	</div> 
  
  	<div class="product-info clearfix">
      	<h3 class="title product-title">
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      	</h3>
      	<div class="rate_box pull-left">
      		 <div class="shopify-product-reviews-badge" data-id="{{product.id}}"></div> 
      	</div>  
      	<div class="content_price pull-right">
          	{% capture price %}{{ product.price | money }}{% endcapture %}
            {% if on_sale %}
            <span class="old price"><span class="money">{{ product.compare_at_price | money }}</span></span>
            {% endif %}
          	<span class="price"><span class="money">{% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}</span></span>
      	</div>
      	<div class="list_info">
          	{{ product.description | strip_html | slice: 0, 200 | append: ' ...' }}
      	</div>
  	</div>
</div>