{% paginate blog.articles by 5 %}
<div class="row">
  {% if settings.blog_sidebar == 'left' %}		
    <aside class="col-sm-4 col-md-3 col-lg-3 col-xs-12 content-aside">
      {% include 'blog-sidebar' %}
    </aside>
  {% endif %}
  <div class="{% if settings.blog_sidebar == 'left' or settings.blog_sidebar == 'right' %}col-sm-8 col-md-9 col-lg-9 col-xs-12 {% endif %}content-center">    
      <h1 class="page-title">
           {% if current_tags %}
             {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
           {% else %}
             {{ blog.title }}
           {% endif %}
      </h1>       

        {% for article in blog.articles %}
          <div class="article">
            <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
            <p class="blog-date">
              <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
              {% comment %}
                <span class="meta-sep">&#8226;</span>
                {{ article.author }}
              {% endcomment %}
              {% if article.tags.size > 0 %}                
                {% for tag in article.tags %}
                  <a class="tag-name" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} {% endunless %}
                {% endfor %}
              {% endif %}
            </p>
            {% comment %}
              Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
              Since this is just a listing page, you can either use the excerpt or truncate the full article.
            {% endcomment %}
            <div class="rte">
              {% if article.image %}
                {% assign image_alt = article.title | escape %}
                <p>{{ article | img_url: '1024x1024' | img_tag: image_alt, 'article-img' | link_to: article.url }}</p>
              {% endif %}
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
              {% endif %}
            </div>

            <p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p>

          </div>

          {% unless forloop.last %}<hr>{% endunless %}

        {% endfor %}

        {% if paginate.pages > 1 %}
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
        {% endif %}
      </div>
  {% if settings.blog_sidebar == 'right' %}		
    <aside class="col-sm-4 col-md-3 col-lg-3 col-xs-12 content-aside">
      {% include 'blog-sidebar' %}
    </aside>
  {% endif %}
</div>

{% endpaginate %}
